# Editors & Environment
.vagrant/
.vscode/
.idea/
.env
tslint.json

# NodeJS & NPM
node_modules/
*.js

# Git
.git/
.gitignore
.gitattributes

# Docker
.dockerignore
docker-compose.*
Dockerfile

*.log

CHANGELOG.md
README.md
TODO.md
docs/
release/
tmp/
update-docker-compose.sh