# Editors & Environment
.vagrant/
.vscode/
.idea/
.env
tslint.json

# NodeJS & NPM
npm-debug.log
node_modules/

# Git
.git/
.gitignore
.gitattributes

# Docker
docker-compose.*
Dockerfile

*.log

README.md
TODO.md

dist/
tmp/
update-docker-compose.sh